<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.7.1">
  <actions/>
  <description>启动端口必需同regionConfig.xml指定的一致</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DB_NAME</name>
          <description></description>
          <defaultValue>designer_1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>DB_ROOT_PWD</name>
          <description>数据库root密码</description>
          <defaultValue>+6uo+ilaoscnENBsov2sygsweCr1tHIsMCMdbA2mlhI=</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REGION_ID</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERVER_ID</name>
          <description></description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MONITOR_OPTS</name>
          <description></description>
          <defaultValue>&apos;&apos;</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>JAVA_OPTS</name>
          <description></description>
          <defaultValue>&apos;-server -Xms64m -Xmx64m -XX:NewRatio=3 -XX:+HeapDumpOnOutOfMemoryError&apos;</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RUN_PARAM</name>
          <description>启动参数：regionid serverid tcpPort httpPort</description>
          <defaultValue>1 1 8062 8065 ./regionConfig.xml</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STAGE_DEBUG</name>
          <description>是否测试stage.lvl
false: load form other folder
true load form package</description>
          <defaultValue>true</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APPROOT</name>
          <description></description>
          <defaultValue>joker</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APPFOLDER</name>
          <description></description>
          <defaultValue>app</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DB_HOST</name>
          <description></description>
          <defaultValue>192.168.1.147</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GENERATE_ROBOT</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FIRST_GENERATE_ROBOT</name>
          <description>是否是第一次生成机器人</description>
          <defaultValue>true</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.6">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@3.3.0">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>${SERVER_REPO}</url>
            <credentialsId>6e9dc5b1-d806-444b-a89c-12e5176babfa</credentialsId>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/dev_gd</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
          <hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
            <sparseCheckoutPaths>
              <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
                <path>game_server</path>
              </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
              <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
                <path>robotstress</path>
              </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
            </sparseCheckoutPaths>
          </hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.joker.server</groupId>
    <artifactId>joker_game_server</artifactId>
  </rootModule>
  <rootPOM>game_server/pom.xml</rootPOM>
  <goals>clean package</goals>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers/>
  <buildWrappers/>
  <prebuilders>
    <hudson.tasks.Shell>
      <command>echo &quot;修改gameconfig&quot;
sed -i &quot;s/&lt;stageConfigInResources&gt;.*&lt;\/stageConfigInResources&gt;/&lt;stageConfigInResources&gt;${STAGE_DEBUG}&lt;\/stageConfigInResources&gt;/g&quot; ./game_server/src/main/resources/gameconfig.xml
sed -i &quot;s/&lt;MaxTotal&gt;.*&lt;\/MaxTotal&gt;/&lt;MaxTotal&gt;25&lt;\/MaxTotal&gt;/g&quot; ./game_server/src/main/resources/gameconfig.xml
sed -i &quot;s/&lt;MaxIdle&gt;.*&lt;\/MaxIdle&gt;/&lt;MaxIdle&gt;10&lt;\/MaxIdle&gt;/g&quot; ./game_server/src/main/resources/gameconfig.xml
sed -i &quot;s/&lt;MinIdle&gt;.*&lt;\/MinIdle&gt;/&lt;MinIdle&gt;5&lt;\/MinIdle&gt;/g&quot; ./game_server/src/main/resources/gameconfig.xml

echo &quot;修改日志级别&quot;
sed -i &apos;s/\(level=\)&quot;trace&quot;/\1&quot;error&quot;/&apos; ./game_server/src/main/resources/log4j2.xml
sed -i &apos;s/\(level=\)&quot;debug&quot;/\1&quot;error&quot;/&apos; ./game_server/src/main/resources/log4j2.xml

#bash ./game_server/script/sync_stage_config 1


echo &quot;generate rob.jar for rotframework&quot;

sed -i &quot;0,/\${launch_host}.*/s/\${launch_host}.*/\${launch_host}     192.168.1.147/&quot; robotstress/robot/testPlan/testSuites/jokerGameSuites/resources/proto_resources.txt
sed -i &quot;0,/\${launch_port}.*/s/\${launch_port}.*/\${launch_port}     8061/g&quot; robotstress/robot/testPlan/testSuites/jokerGameSuites/resources/proto_resources.txt
sed -i &quot;0,/\${gate_host}.*/s/\${gate_host}.*/\${gate_host}     192.168.1.147/&quot; robotstress/robot/testPlan/testSuites/jokerGameSuites/resources/proto_resources.txt
sed -i &quot;0,/\${gate_port}.*/s/\${gate_port}.*/\${gate_port}     8063/&quot; robotstress/robot/testPlan/testSuites/jokerGameSuites/resources/proto_resources.txt


bash robotstress/robot/script/generateJar</command>
    </hudson.tasks.Shell>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>策划a</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>${APPROOT}/${APPFOLDER}/game_server</remoteDirectory>
                  <sourceFiles>game_server/script/*</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>game_server/script</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>cd  ${APPROOT}/${APPFOLDER}

sed -i &quot;s/ROOTPWD=.*/ROOTPWD=${DB_ROOT_PWD}/g&quot;  ./game_server/create_db_and_user
sed -i &quot;s/ROOTPWD=.*/ROOTPWD=${DB_ROOT_PWD}/g&quot;  ./game_server/sync_static_data
sed -i &quot;s/DATABASE_NAME=.*/DATABASE_NAME=${DB_NAME}/g&quot;  ./game_server/sync_static_data
sed -i &quot;s/DATABASE_NAME=.*/DATABASE_NAME=${DB_NAME}/g&quot;  ./game_server/db_static_data_dump
sed -i &quot;s/HOST=.*/HOST=${DB_HOST}/g&quot;  ./game_server/sync_static_data

echo &quot;clear region cache&quot;
sed -i &quot;s/REGION_ID=.*/REGION_ID=${REGION_ID}/g&quot;  ./game_server/clear_redis
sed -i &quot;s/REDIS_HOST=.*/REDIS_HOST=${DB_HOST}/g&quot;  ./game_server/clear_redis


echo &quot;修改JVM参数&quot;
sed -i &quot;s/APP_ROOT=.*/APP_ROOT=${APPROOT}\/${APPFOLDER}/g&quot; ./game_server/joker_game_server
sed -i &quot;s/MONITOR_OPTS=.*/MONITOR_OPTS=${MONITOR_OPTS}/g&quot;  ./game_server/joker_game_server
sed -i &quot;s/JAVA_OPTS=.*/JAVA_OPTS=${JAVA_OPTS}/g&quot;  ./game_server/joker_game_server

chmod a+x  ./game_server/joker_game_server 

bash ./game_server/joker_game_server stop ${RUN_PARAM}</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>${APPROOT}/${APPFOLDER}/game_server</remoteDirectory>
                  <sourceFiles>game_server/src/main/resources/*</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>game_server/src/main</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </prebuilders>
  <postbuilders>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>策划a</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>${APPROOT}/${APPFOLDER}/game_server</remoteDirectory>
                  <sourceFiles>game_server/target/*.jar</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>game_server/target</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>cd  ${APPROOT}/${APPFOLDER}/game_server

echo &quot;同步静态数据&quot;
bash sync_static_data
bash clear_redis

echo &quot;回到上级目录&quot;
cd ..


if [ &apos;${GENERATE_ROBOT}&apos; = &apos;true&apos; ];then
   echo &quot;生成机器人&quot;
   java -jar ./game_server/RobotGenerator.jar ${FIRST_GENERATE_ROBOT}./regionConfig.xml
fi

bash ./game_server/joker_game_server start ${RUN_PARAM}

echo &quot;dump heap&quot;
ps -ef | grep game_server.jar | grep -v grep | awk &apos;{print $2}&apos; | while read pid &gt; /dev/null 2&gt;&amp;1
do
  mkdir -p ~/joker/heap_dump
  cd  ~/joker/heap_dump
  $JAVA_HOME/bin/jmap -dump:format=b,file=game_server $pid
done</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>