<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Notice: this project is restricted run on the 24 machine!</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${CLIENT_REPO}</url>
        <credentialsId>6e9dc5b1-d806-444b-a89c-12e5176babfa</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/dev</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>windows-git</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CleanBeforeCheckout/>
    </extensions>
  </scm>
  <assignedNode>windows24_slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>windows_jdk1.8.0.45</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.sonar.SonarRunnerBuilder plugin="sonar@2.3">
      <installationName>windows-Sonar5.4</installationName>
      <project></project>
      <properties># required metadata
sonar.projectKey=xgameClient
sonar.projectName=xgame
sonar.projectVersion=1.0

# path to source directories (required)
sonar.sources=./Assets/Script,./Assets/Editor
# Uncomment this line to analyse a project which is not a java project.
# The value of the property must be the key of the language.
sonar.language=cs
sonar.my.property=value</properties>
      <javaOpts></javaOpts>
      <additionalArguments></additionalArguments>
      <jdk>windows_jdk1.8.0.45</jdk>
      <sonarRunnerName>windows-sonarCIRunner</sonarRunnerName>
      <task></task>
    </hudson.plugins.sonar.SonarRunnerBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>